<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    <!-- http://cxf.apache.org/docs/overview.html -->
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <!--  Service Implementation -->
    <bean id="helloServiceImpl" class="com.njqg.HelloServiceImplPortImpl" />
    <bean id="helloServiceImplbak" class="com.demo.webservice.HelloServiceImpl" />
    <!-- JAX-WS  Endpoint -->
    <jaxws:endpoint id="helloService" implementor="#helloServiceImpl" address="/HelloService"/>

</beans>
