<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.druid.mapper.DruidMapper">
    <select id="selectById" resultType="com.demo.druid.model.Country">
      select * from country where id = #{id}
    </select>
    <select id="selectAll" resultType="com.demo.druid.model.Country">
      select * from country
    </select>
    <update id="updateCountrynameById" parameterType="map" >
        update country
        <set>
          <if test="countryname != null" >
              countryname = #{countryname,jdbcType=VARCHAR}
          </if>
        </set>
        <if test="_parameter != null" >
            <where>
                id= #{id,jdbcType=INTEGER}
            </where>
        </if>
    </update>
</mapper>
