<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">
 
    <context:component-scan base-package="com.demo" />

    <!-- 启动SpringMVC的注解功能，完成请求和注解POJO的映射 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <ref bean="stringConverter" />
            <ref bean="demo" />
            <ref bean="jsonConverter" />
        </mvc:message-converters>
        <mvc:argument-resolvers>
            <bean class="com.demo.resolvers.argumentResolver.JsonMethodArgumentResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <!--字符串转换器-->
    <bean id="stringConverter"
          class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>


    <!-- json转换器  application/json -->
    <bean id="jsonConverter"
          class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
        <property name="features">
            <array value-type="com.alibaba.fastjson.serializer.SerializerFeature">
                <value>DisableCircularReferenceDetect</value>
            </array>
        </property>
    </bean>

    <bean id="demo" class="com.demo.converters.converter.JsonDemoConverter"/>
     
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <bean id="compositeExceptionResolver" class="org.springframework.web.servlet.handler.HandlerExceptionResolverComposite">
        <property name="order" value="0" />
        <property name="exceptionResolvers">
            <list>
                <ref bean="exceptionHandlerExceptionResolver" />
                <ref bean="restExceptionResolver" />
            </list>
        </property>
    </bean>

    <bean id="restExceptionResolver" class="com.demo.resolvers.resolver.RestHandlerExceptionResolverFactoryBean">
        <property name="messageSource" ref="httpErrorMessageSource" />
        <property name="defaultContentType" value="application/json" />
        <property name="exceptionHandlers">
            <map>
                <entry key="org.springframework.web.HttpRequestMethodNotSupportedException" value="418"/>
            </map>
        </property>
    </bean>

    <bean id="exceptionHandlerExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" />

    <bean id="httpErrorMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
          p:basename="classpath:/testMessages"
          p:defaultEncoding="UTF-8" />
</beans>
