<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <bean id="curatorFramework" class="com.demo.curator.CuratorFrameworkFactoryBean" destroy-method="destroy">
        <property name="connectString" value="127.0.0.1:2181"/>
    </bean>

    <bean id="serviceServerRegister" class="com.demo.discovery.server.register.ZookeeperRegister">
        <constructor-arg name="client" ref="curatorFramework"/>
        <constructor-arg name="basePath" value="/qg/services"/>
    </bean>

    <bean id="serviceDiscovery" class="com.demo.discovery.server.QGServiceDiscovery">
        <property name="context" value="test"/>
        <property name="port" value="8080"/>
        <property name="register" ref="serviceServerRegister"/>
    </bean>

    <bean id="roundRobinLocalFirstStrategy" class="com.demo.discovery.client.strategy.RoundRobinLocalFirstStrategy"/>

    <!-- zookeeper -->
    <bean id="curatorXDiscoveryClientWrapper"
          class="com.demo.discovery.client.finder.CuratorXDiscoveryClientWrapper" destroy-method="close">
        <constructor-arg name="client" ref="curatorFramework"/>
        <constructor-arg name="basePath" value="/qg/services"/>
    </bean>
    <bean id="zkFinder" class="com.demo.discovery.client.finder.ZookeeperFinder">
        <property name="strategry" ref="roundRobinLocalFirstStrategy"/>
        <property name="curatorXDiscoveryClientWrapper" ref="curatorXDiscoveryClientWrapper"/>
    </bean>
</beans>
