<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="lifeCycleBean" class="com.demo.lifecycle.bean.LifeCycleBean"
          init-method="initMethod" destroy-method="destroyMethod" >
        <property name="desc" value="hello"/>
    </bean>

    <bean class="com.demo.lifecycle.beanPostProcessor.DemoBeanPostProcessor"/>

    <bean class="com.demo.lifecycle.beanFactoryPostProcessor.DemoBeanFactoryPostProcessor"/>


    <!--①配置自动注册属性编辑器的CustomEditorConfigurer -->
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.demo.lifecycle.propertyeditor.Car" value="com.demo.lifecycle.propertyeditor.CustomCarEditor"/>
            </map>
        </property>
    </bean>
    <bean id="boss" class="com.demo.lifecycle.propertyeditor.Boss">
        <property name="name" value="John"/>
        <!--③该属性将使用②处的属性编辑器完成属性填充操作-->
        <property name="car" value="红旗CA72,200,20000.00"/>
        <property name="date" value="2018-06-20"/>
    </bean>

    <!-- 第二步： 创建convertion-Service ，并注入dateConvert-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConvert"/>
            </set>
        </property>
    </bean>
    <!-- 第一步:  创建自定义日期转换规则 -->
    <bean id="dateConvert" class="com.demo.lifecycle.converter.DateConvert"/>
</beans>
